{% extends 'base.html.twig' %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block meta %}
    <meta name="description" content="Besoin d'informations ? Remplissez notre formulaire de contact">
    <meta property="og:title" content="Contact - D-Blokés" />
    <meta property="og:description" content="Besoin d'informations ? Remplissez notre formulaire de contact" />
    <meta property="og:url" content="{{ path('app_contact') }}" />
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="container__large secondary-dark--bg pt--8">
        <div class="container flex col align--center justify--center gap--4 primary-light">
            <h1 class="blaak">Besoin<br> d'infos ?</h1>
        </div>
    </section>
    <section class="container__large secondary-light--bg flex col align--center">
        <div class="container flex row gap--20 justify--space-between col-mobile gap-large-mobile border--bottom border-stroke-dark">
            <div class="w--50 w-100-mobile">
                <h3>Remplissez notre <br> formulaire de contact</h3>
            </div>
            <div class="w--50 flex col gap--4 w-100-mobile">
                <div>
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endfor %}
                    {{ form_start(form, {'attr': {'class': 'grid grid--2 grid--1-mobile grid-gap--4'} }) }}
                    <label class="form-label" for="lastname">
                        Nom*
                        {{ form_row(form.lastname) }}
                    </label>
                    <label class="form-label" for="firstname">
                        Prénom*
                        {{ form_row(form.firstname) }}
                    </label>
                    <label class="form-label" for="email">
                        Email*
                        {{ form_row(form.email) }}
                    </label>
                    <label class="form-label" for="tel">
                        Téléphone*
                        {{ form_row(form.phone) }}
                    </label>
                </div>
                <label class="form-label" for="message">
                    Message
                    {{ form_row(form.message) }}
                </label>
                <button class="btn btn__lg">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
