<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}D-Blokés{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon.svg') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('/images/apple-icon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('/images/apple-icon.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/images/apple-icon-iphone-retina.png') }}">
        <link rel="apple-touch-icon" sizes="167x167" href="{{ asset('/images/apple-icon-ipad-retina.png') }}">
        <meta name="robots" content="noindex">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="website" />
            <meta property="og:image" content="{{ asset('/images/logo-og.png') }}" />
            <meta property="og:image:secure_url" content="m{{ asset('/images/logo-og.png') }}" />
            <meta property="og:image:width" content="750" />
            <meta property="og:image:height" content="750" />
            <meta property="og:site_name" content="D-Blokés" />
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>

            <!-- The following plugin is only available for Club GSAP members.-->
            <script src="{{ asset('gsap/minified/ScrollSmoother.min.js') }}"></script>
            <script src="{{ asset('gsap/minified/SplitText.min.js') }}"></script>

            <script>
                // use a script tag or an external JS file
                document.addEventListener("DOMContentLoaded", (event) => {
                    gsap.registerPlugin(ScrollTrigger,ScrollSmoother, SplitText)
                    let smoother = ScrollSmoother.create({
                        wrapper: '#smooth-wrapper',
                        content: '#smooth-content',
                        smooth: 2,
                    });
                    const titles = document.querySelectorAll(".title");
                    if (titles) {
                        titles.forEach((title) => {
                            const splitTitle = new SplitText(title, {type: "words"});
                            const chars = splitTitle.words;

                            gsap.from(chars, {
                                scrollTrigger: {
                                    trigger: title,
                                    start: 'top 80%',
                                    end: '',
                                    markers: false
                                },
                                y: '100%',
                                opacity: 0,
                                duration: 0.5,
                                ease: 'power2.out',
                                stagger: 0.05,
                            });
                        })
                    }
                    const images = document.querySelectorAll(".image");
                    if (images) {
                        images.forEach((image) => {
                            gsap.from(image, {
                                scrollTrigger: {
                                    trigger: image,
                                    start: 'top 80%',
                                    end: '',
                                    markers: false
                                },
                                opacity: 0,
                                duration: 0.8,
                                ease: 'power2.inOut'
                            });
                        })
                    }
                });
            </script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <main>
        <header class="container__large flex col align--center justify--center fixed pos-t--0 pos-l--0">
            <div class="secondary-green--bg w--100 flex row align--center justify--center p--1">
                <p class="text__s text-center">
                    Les dernières corrections du topo sont <a href="{{ path('app_topo') }}#corrections">disponibles ici</a>
                </p>
            </div>
            <div class="container__nav primary-light flex row align--center justify--space-between pt--4 pb--4">
                <div class="flex row gap--8 hide-mobile">
                    <a href="{{ path('app_index') }}">Home</a>
                    <a href="{{ path('app_asso') }}">L'association</a>
                    <a href="{{ path('app_topo') }}">Le topo</a>
                    <a href="{{ path('app_festival') }}">Le Boc-Kipik</a>
                    <a href="{{ path('app_shop') }}">Le shop</a>
                    <a href="{{ path('app_contact') }}">Contact</a>
                </div>
                <div class="flex row align--center justify--center gap--4 hide-mobile">
                    <a target="_blank" class="btn btn__light" href="https://extranet-clubalpin.com/app/webeff/we_crv2_step01.php?IDCLUB=6401&Hchk=Yk3tb14i4jSBgTQSPYM5ni4HY4xGf1">Adhérer à l'asso</a>
                    <a class="btn btn__disabled">Espace membre</a>
                </div>
                <div class="w--100 flex row align--start justify--space-between display-mobile">
                    <img src="{{ asset('images/menu.svg') }}" alt="" class="header__icon display-mobile">
                    <img width="90" class="logo-mobile display-mobile" src="{{ asset('images/logo.svg') }}" alt="Logo D-Blokés">
                </div>
                <div class="header__menu display-mobile flex col align--start justify--space-between p--8 primary-dark">
                    <div class="flex col gap--4 w--100">
                        <div class="text__l header__close align-mobile--self-end pointer">
                            X Fermer
                        </div>
                        <div class="flex col gap--2 text__l">
                            <a href="{{ path('app_index') }}">Home</a>
                            <a href="{{ path('app_asso') }}">L'association</a>
                            <a href="{{ path('app_topo') }}">Le topo</a>
                            <a href="{{ path('app_festival') }}">Le Boc-Kipik</a>
                            <a href="{{ path('app_shop') }}">Le shop</a>
                            <a href="{{ path('app_contact') }}">Contact</a>
                        </div>
                    </div>
                    <div class="flex col align--start justify--center gap--2">
                        <a target="_blank" class="btn btn__dark" href="https://extranet-clubalpin.com/app/webeff/we_crv2_step01.php?IDCLUB=6401&Hchk=Yk3tb14i4jSBgTQSPYM5ni4HY4xGf1">Adhérer à l'asso</a>
                        <a class="btn btn__disabled">Espace membre</a>
                    </div>
                </div>
            </div>
        </header>
        <div id="smooth-wrapper">
            <div id="smooth-content">
            {% block body %}{% endblock %}

        <footer class="container__large secondary-dark--bg">
            <div class="container flex col gap--11">
                <div class="flex row align--start gap--8 justify--space-between col-mobile">
                    <img class="footer__logo" src="{{ asset('images/logo.svg') }}" alt="">
                    <div class="flex row gap--8 col-mobile">
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                L'association
                            </p>
                            <div class="flex col gap--1">
                                <a href="{{ path('app_asso') }}#qui-sommes-nous" class="text__s primary-light">Qui sommes-nous ?</a>
                                <a href="{{ path('app_asso') }}#les-membres" class="text__s primary-light">Les membres</a>
                                <a href="{{ path('app_asso') }}#nos-projets" class="text__s primary-light">Nos projets</a>
                                <a href="{{ path('app_asso') }}#notre-actu" class="text__s primary-light">Notre actu</a>
                                <a href="{{ path('app_asso') }}#nous-rejoindre" class="text__s primary-light">Nous rejoindre</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Notre topo
                            </p>
                            <div class="flex col gap--1">
                                <a href="{{ path('app_topo') }}#decouvrir-le-topo" class="text__s primary-light">Découvrir le topo</a>
                                <a href="{{ path('app_topo') }}#points-de-vente" class="text__s primary-light">Points de vente</a>
                                <a href="{{ path('app_topo') }}#commander-le-topo" class="text__s primary-light">Commander le topo</a>
                                <a href="{{ path('app_topo') }}#corrections" class="text__s primary-light">Corrections du topo</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Notre festival
                            </p>
                            <div class="flex col gap--1">
                                <a href="{{ path('app_festival') }}#granitkipik" class="text__s primary-light">Boc-Kipik édition 2024</a>
                                <a href="{{ path('app_festival') }}#programme" class="text__s primary-light">Programme</a>
                                <a href="{{ path('app_festival') }}#contest-d-escalade" class="text__s primary-light">Contest d'escalade</a>
                                <a href="{{ path('app_festival') }}#infos-pratiques" class="text__s primary-light">Infos pratiques</a>
                                <a href="{{ path('app_festival') }}#partenaires" class="text__s primary-light">Partenaires</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Le shop
                            </p>
                            <div class="flex col gap--1">
                                <a href="{{ path('app_shop') }}#nouveautés" class="text__s primary-light">Nouveautés</a>
                                <a href="{{ path('app_shop') }}#boutique" class="text__s primary-light">Boutique en ligne</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Espace membre
                            </p>
                            <div class="flex col gap--1">
                                <a target="_blank" href="https://extranet-clubalpin.com/app/webeff/we_crv2_step01.php?IDCLUB=6401&Hchk=Yk3tb14i4jSBgTQSPYM5ni4HY4xGf1" class="text__s primary-light">Adhérer à l'asso</a>
                                <a class="text__s stroke-dark">Accéder à l'espace membre</a>
                            </div>
                        </div>
                        <div class="flex col gap--4">
                            <p class="text__m secondary-orange">
                                Contact
                            </p>
                            <div class="flex col gap--1">
                                <a href="{{ path('app_contact') }}#form" class="text__s primary-light">Formulaire de contact</a>
                                <a href="{{ path('app_contact') }}#privacy-policy" class="text__s primary-light">Politique de confidentialité</a>
                                <a href="{{ path('app_contact') }}#legal-notice" class="text__s primary-light">Mentions légales</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex col gap--4 w--100">
                    <div class="flex row align--center justify--end gap--4 pb--4 border--bottom border-stroke-light col-mobile align-mobile--end">
                        <a target="_blank" class="btn btn__light" href="https://extranet-clubalpin.com/app/webeff/we_crv2_step01.php?IDCLUB=6401&Hchk=Yk3tb14i4jSBgTQSPYM5ni4HY4xGf1">Adhérer à l'asso</a>
                        <a class="btn btn__disabled">Espace membre</a>
                    </div>
                    <div class="w--100 flex row align--center justify--space-between gap--2 primary-light col-mobile align-mobile--end">
                        <a target="_blank" class="" href="https://studiokhi.com">2024 - Site réalisé par Studio Khi</a>
                        <div class="flex row col-mobile gap--2">
                            <a target="_blank" class="" href="https://www.instagram.com/dblokes/">Instagram</a>
                            <a target="_blank" class="" href="https://www.facebook.com/AssoDBlokes">Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
            </div>
        </div>
    </main>
    </body>
</html>
